<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edytuj task</title>
</head>
<body>
<h1>Edytuj task</h1>
<form th:action="|/edit/${taskToEdit.id}" method="post" th:object = ${taskToEdit}>
    <label for="taskName">Nazwa taska</label>
    <input type="text" th:field = "*{taskName}" id="taskName">
    <label for="status">Status</label>
    <select th:field = "*{status}" id="status">
        <option value="ACTIVE">Aktywne</option>
        <option value="DONE">Zrobione</option>
    </select>
    <label for="category">Kategoria</label>
    <select th:field = "*{category}" id="category">
        <option value="HOMEWORK">zadanie domowe</option>
        <option value="CLEANING">sprzątanie</option>
        <option value="SHOPPING">zakupy</option>
        <option value="OTHER">inne</option>
    </select>
    <input type="submit" value="Edytuj">
</form>

</body>
</html>